amqp==1.4.9
anyjson==0.3.3
astroid==1.4.5
billiard==3.3.0.23
celery==3.1.23
colorama==0.3.7
coverage==4.1
Django==1.9.6
django-jenkins==0.18.1
factory-boy==2.7.0
fake-factory==0.5.7
kombu==3.0.35
lazy-object-proxy==1.2.2
Pillow==3.2.0
pylint==1.5.5
python-dateutil==2.5.3
pytz==2016.4
selenium==2.53.2
six==1.10.0
wrapt==1.10.8
